%div{class: "contents"}
  %div{class: "contents__head-notification"}
    %p チャットグループが作成されました。
  %div{class: "contents__left-side"}
    = render 'shared/left-side'
  %div{class: "contents__messages"}
    = render 'shared/messages'
