%div{class: "side"}
  %div{class: "head-side"}
    %p{class: "head-side__username"}
      ユーザー名
    %ul{class: "head-side__lists"}
      %li{class: "head-side__lists_icon"}
        %p icon
      %li{class: "head-side__lists_icon"}
        %p icon
  %div{class: "side-lists"}
  - for i in 1..3
    = render 'shared/left-side-lists'
