%div{class: "head-side"}
  %p{class: "head-side__username"}
    ユーザー名
  %ul{class: "head-side__menus"}
    %li{class: "head-side__menus_item"}
      %p user-name
    %li{class: "head-side__menus_item"}
      %p user-name
%div{class: "side"}
  %p a
