.contents{
  width: 100vw;
  background-color: gray;
    &__head-notification{
      height: 30px;
      background-color: #38aef0;
      text-align: center;
      line-height: 30px;
      color: white;
    }
    &__left-side{
      width: 300px;
      height: 100vh;
      background-color: #2f3e51;
      float: left;
    }
    &__messages{
      width: calc(100vw - 300px);
      height: 100vh;
      background-color: ghostwhite;
      float: left;
    }
}
