.messages{
  width: calc(100vw - 300px);
  &__head{
    height: 100px;
    border-color: #eeeeee;
    padding: 0 40px 0 40px;
    &_group{
      float: left;
      padding-top: 35px;
      &_name{
        font-size: 20px;
        color: #333333;
      }
      &_menbar-name{
        padding-top: 15px;
        font-size: 12px;
        color: #999999;
      }
    }
    &_edit-button{
      float: right;
      height: 40px;
      text-align: center;
      margin-top: 28px;
      border: solid #38aef0;
      &_text{
        line-height: 40px;
        padding: 0 20px 0 20px;
      }
    }
  }
  &__content{
    &_lists{
      height: calc(100vh - 196px);
      background-color: #DDDDDD;
      padding: 6px 40px 0 40px;
    }
    &_msg-send-footer{
      height: 90px;
      background-color: #888888;
      padding: 0 40px;
      position: relative;
      &_input-text{
        height: 50px;
        width: calc(100% - 130px);
        margin: 20px 0;
      }
      &_label{
        font-size: 22px;
        line-height: 90px;
        position: absolute;
        right: 180px;
        &_file{
          display: none;
        }
      }
      &_submit-btm{
        height: 50px;
        width: 100px;
        background-color: #38aef0;
        margin: 20px 0;
        float: right;
      }
    }
  }
}

.messages-list{
  &__user-name{
    padding-top: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #434A54;
    &_date{
      font-size: 12px;
      color: #999999;
      margin-left: 10px;
    }
  }
  &__messages{
    padding-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #434A54;
  }
}
